## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [2]:
planet = "Earth"
diameter = 12742

In [3]:
print("The diameter of {} is {} Kilometers.".format(planet,diameter))

The diameter of Earth is 12742 Kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#List is mutable and is defined in square brackets[]
#Tuples are immutable and is defined in curve brackets()

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def emailInput(email):
  return email.split('@')[-1]

In [ ]:
emailInput('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(input):
  return 'dog' in input.lower().split()

In [ ]:
findDog('Where is the Dog ?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(input):
  count = 0 
  for word in input.lower().split():
    if word == 'dog':
      count += 1
  return count

In [ ]:
countDog('This dog is mine and it is called as fluffy, I love my dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(85,False)

'Big Ticket'

In [ ]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee_Bsalary = [20000,24000,30000,28000,35000,40000]
total_salary_expenditure = 0
for i in employee_Bsalary:
  total_salary_expenditure += i

print(total_salary_expenditure)

177000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
emp_dict1 ={"Empid":1,"Empname":"ABCD","Basicpay":15000}
emp_dict2 = {"DeptName":"Testing","DeptId":101}

emp_dict1.update(emp_dict2)

print(emp_dict1)

{'Empid': 1, 'Empname': 'ABCD', 'Basicpay': 15000, 'DeptName': 'Testing', 'DeptId': 101}